nav {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  padding: 5px 10px;
  background: rgb(52, 156, 241);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
}

.action-container {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.restaurant-btn {
  background: rgb(195, 235, 247);
}

.cart-btn {
  position: relative;
}

.favourite-btn {
  position: relative;
}

.badge {
  position: absolute;
  bottom: 15px;
  left: 12px;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 10px;
  background: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
