nav{
    width:100%;
    position:fixed;
    top:0;
    right:0;
    left:0;
    height:60px;
    padding:5px 10px;
    background:rgb(52, 156, 241);
    display:flex;
    align-items: center;
    justify-content: space-between;
}